[submodule "hw/RTL/peripherals/axi_uart"]
	path = hw/RTL/peripherals/axi_uart
	url = https://github.com/rodrigoolmos/axi_uart.git
[submodule "hw/RTL/peripherals/axi_gpio"]
	path = hw/RTL/peripherals/axi_gpio
	url = https://github.com/rodrigoolmos/axi_gpio.git
[submodule "hw/RTL/peripherals/AXI-Lite-crossbar"]
	path = hw/RTL/peripherals/AXI-Lite-crossbar
	url = https://github.com/rodrigoolmos/AXI-Lite-crossbar.git
